body {
    font-family: 'Source Sans Pro';
}


.bg-purple 
{ 
    background-color: #916dd5; 
}

.text-purple
{
    color: #916dd5;
}

.text-yellow
{
    font-size: 30px;
    color: #f9ca24;
}

.bg-yellow
{
    background-color: #f9ca24;
}

.card-title
{
    text-align: center;
}

.parallax
{
    border-radius: 0;
    height: 100vh;
}

.parallax .blurb
{
    padding-left: 25%;
    padding-right: 25%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

}

.navbar-transparent
{
    background: transparent !important;
}

.navbar .navbar-brand {
    font-size: 30px;
}

.btn-primary:hover {
    background: #f0932b;
    border-color: #f0932b;
}

.btn-primary {
    font-size: 30px;
    padding: 10px;
    background-color: #f9ca24;
    border-color: #f9ca24;
}

.ml-auto .dropdown-menu {
    right: 0;
    left: auto;
}

.profile-pic {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.remove {
    display: none;
}

.stats .col-md-4 {
    border-right: 1px solid gray;
    border-right-color: rgba(0,0,0,0.35);
}

.company-list {
    margin: 0.8rem auto;
    max-width: 50em;
}

.row {
    width: 100%;
}

.center-container {
    /* margin: 0 auto;
    max-width: 40em;
    padding: 1rem; */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* width: 40%; */
  height: 50%;
}

.navbar a {
    font-size:20px;
    color: black;
}

.navbar a:hover {
    color: #f0932b;
}

#create-account {
    display: none;
}

#pay {
    display: none;
}

#auth {
    display: none;
}

#success {
    display: none;
}

.nav-link {
    padding-bottom: 0;
}

p {
    text-align: center;
}

.animation-gif {
    text-align: center;
}